---
//Objects
import defaultImages from '../../../public/DefaultImages';

//CSSFiles
import './NatureGallery.css';
---

<div class="gallery-container">
  {
    defaultImages.map((src, index) => (
     <img class="gallery-item" src={src} alt={`Nature ${index + 1}`} />
    ))
  }
</div>
