---
//Components
import { BackToTopButton } from '../../../components/ComponentsDependencies'

//CSSFiles
import './Footer.css'
---

<footer>
    <div class="footer-container">
        <p>Developed by Filippo Bratti.</p>
        <p>© 2025. Memory Game.</p>
        <div class="button-wrapper">
          <BackToTopButton client:load/>
        </div>
    </div>
</footer>