---
//Components
import { BackToTopButton } from '../../../components/ComponentsDependencies'

//CSSFiles
import './Footer.css'
---

<footer>
    <div class="footer-container">
        <p>Developed by Filippo Bratti.</p>
        <BackToTopButton client:load/>
        <p>© 2025. Memory Game.</p>
    </div>
</footer>