.light-color {
    color: #00bcd4;
}

.warning-color {
    color: #ff9800;
}

.title {
    font-size: 3rem;
    letter-spacing: 1px;
    margin: 1rem 0rem;
}

.medium-title {
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 1rem 0rem;
}

.text {
    font-size: 1.2rem;
    color: #cccccc;
    line-height: 1.8;
}

.big-text {
    font-size: 1.5rem;
    line-height: 1.8;
}

.normal-max-width {
    max-width: 1200px;
}

.custom-max-width {
    max-width: 950px;
}

.display-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.difficulty-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    gap: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}