---
//Layouts
import HtmlLayout from "../layouts/HtmlLayout/HtmlLayout.astro";
import PagesLayout from "../layouts/PagesLayout/PagesLayout.astro";


---

<HtmlLayout title="About | Memory Game">
    <PagesLayout>
        <h1 class="title light-color">Who am I?</h1>
        <p class="text">
            Hi, I'm a software engineer with a passion for web development and game design. I created this memory game as a 
            fun project to improve my skills and provide an enjoyable experience for users. I hope you enjoy playing it as much as I 
            enjoyed creating it!
        </p>

    </PagesLayout>
</HtmlLayout>
