---
//Compoenents
import { ProfileButton } from '../../../components/ComponentsDependencies';

//CSSFiles
import './Header.css';
---

<div class="header">
    <ul class="header-list">
        <nav class="header-list-nav">
            <li class="header-list-element"><a class="header-list-element-link" href="/home">Home</a></li>
            <li class="header-list-element"><a class="header-list-element-link" href="/play">Play</a></li>
            <li class="header-list-element"><a class="header-list-element-link" href="/about">About</a></li>
        </nav>
    </ul>
    <ProfileButton client:only="react"/>
    <div class="header-button-container">
        <a href="/login"><button class="header-button">Login</button></a>
        <a href="/sign-up"><button class="header-button">Sign up</button></a>
    </div>
</div>